.body{
    background-color: rgb(219, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contornoDeImagen{
    text-align: center;
    padding: 12px;
    position: relative;
    box-shadow: 0 18px 100px -60px black;
    border-radius: 50px;
    width: 650px;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid white;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    background: linear-gradient(#5390b1, #6fc7ce);
}

.contornoGeneral{
    font: 18px "Nunito" sans-serif;
    color: black;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 7px solid #FFFFFF;
    margin-top: 50px;

}

.btn1{
    background-color: lightblue;
    border: 10px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 4px 0;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.btn1:hover {
    background-color: rgb(98, 145, 160);
}

.Buttonsss{

     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tarjetaPresentacion{
    background-color: white;
    border-radius: 15px;
    max-width: 420px;
    height: 300px;
    padding: 12px;
    box-shadow: 0 18px 100px -60px black;
    border-radius: 50 px;
    width: 650px;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid white;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
