.container{
    position: absolute ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
    height: 80vh;
    margin-left: 90px;
    
}
.container p{
    font-size: 24px;
}
.spinner {
 width:  112px;
 height:  112px;
 border-radius: 50%;
 color: #1E2022;
 background: linear-gradient(currentColor 0 0) center/100% 8px,
          linear-gradient(currentColor 0 0) center/4px 100%,
          radial-gradient(farthest-side,#0000 calc(100% - 15px),currentColor calc(100% - 9px)),
          radial-gradient(circle 7px,currentColor 94%,#0000 0);
 background-repeat: no-repeat;
 animation: spinner-mu2ebf 1s infinite linear;
 position: relative;
 align-self: center;
 
 
}

.spinner::before {
 content: "";
 position: absolute;
 inset: 0;
 border-radius: inherit;
 background: inherit;
 transform: rotate(45deg);
}

@keyframes spinner-mu2ebf {
 to {
  transform: rotate(.5turn);
 }
}