.containerSlider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1600px;
    height: 340px;
    margin: auto;

}

.hr {
  margin: 50px;
}
.card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.card a{
 display: none;
  
}
.card p{
  display: none;
}
.card h3{
  margin: 0;
}