.containerSlider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    margin: auto;
}

.hideButton button{
  display: none;
}

.homeFlexCardContainer{
  display: flex;
}
.hr {
  margin: 50px;
}

/* 
try{
  var bla = await axios.get(`https://pfhenryss-production.up.railway.app/cars?model=${model}`)
  .then(response => (dispatch({type: GET_CAR_BY_NAME, payload: response.data})))
  if(!bla.length){
    alert("not found")
    window.location.href = "http://localhost:3000/cars"
 }
 }catch(error){
  alert(error)
 }
} */