.MainInfoComponent_divEnlaceCard{
    position: absolute;
    margin: 0 auto;
}


.MainInfoComponent_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  .MainInfoComponent_container {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: 100ms;
    width: 7%;
    margin: 0px;
  }
  
  .MainInfoComponent_checkmark {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    
  }
  
  .MainInfoComponent_container input:checked ~ .MainInfoComponent_checkmark path {
    fill: #FF5353;
    stroke-width: 0;
  }
  
  .MainInfoComponent_container input:checked ~ .MainInfoComponent_checkmark {
    animation: like_effect 400ms ease;
  }
  
  .MainInfoComponent_container:hover {
    transform: scale(1.1);
  }
  
  @keyframes like_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes dislike_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }