.cardconteiner {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    
}

.filtros{
    display: flex;
    justify-content: space-evenly;
}

.select {
    color: rgb(0, 0, 0); 
}