.cardconteiner {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    
}

.filtros{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.select {
    color: rgb(0, 0, 0);
    margin-left: 5px;
}
.cardModal{
 margin-right:100% ;
 margin-top: 400px;
}


.inputYear{
    width: 162px;
    height: 40px;  
}

.btnYear{
    color: rgba(16, 199, 16, 0.704);
}

.yearContainerFlex{
   display: flex;
}
.labelYear{
   margin: 0;
   padding: 0;
}

.checkmarkNotRegistered {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
  }

.divEnlaceCard{
    position: absolute;
    margin-top: 10px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  .container {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: 100ms;
    width: 7%;
    margin: 0px;
  }
  .checkmarkNotRegistered {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
  }
  
  .checkmark {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    
  }
  
  .container input:checked ~ .checkmark path {
    fill: #FF5353;
    stroke-width: 0;
  }
  
  .container input:checked ~ .checkmark {
    animation: like_effect 400ms ease;
  }
  
  .container:hover {
    transform: scale(1.1);
  }
  
  @keyframes like_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes dislike_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
