.cardconteinerFavorite {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    
}

.cardconteinerFavorite svg{
    display: none;
}
h1{
    font-size: 50px;
    font-weight: 700;
}